.stageGreenSigning {
    background-color: #2ECC71 !important;
    cursor: pointer !important;
}

.stageOrageSigning {
    background-color: #F5B041 !important;
    cursor: pointer !important;
}

.stageStepperSigning {
    height: 30px;
    width: 95%;
    min-width: fit-content;
    padding: 0 2px;
    border-radius: 10px;
    background-color: grey;
    color: white;
    cursor: default;
    font-size: 1rem;
    margin: 0 auto;
}

.signingCont {
    min-height: 100px;
}